<div class = "container">

<hr />
<hr />

<ul class = "nav">
    <li class = "nav-item">
        <a routerLink = "/" class = "nav-link" href>
            Products
        </a>
    </li>
    <li class = "nav-item">
        <a routerLink = "/cart" class = "nav-link" href>
            Cart
        </a>
    </li>
    <li class = "nav-item">
        <a routerLink = "/account" class = "nav-link" href>
            Account
        </a>
    </li>
    <li class = "nav-item">
        <a routerLink = "/login" class = "nav-link" href>
            login
        </a>
    </li>
    <li class = "nav-item">
        <a routerLink = "/register" class = "nav-link" href>
            Register
        </a>
    </li>
    <li class = "nav-item">
        <a routerLink = "/logout" class = "nav-link" href>
            Logout
        </a>
    </li>
</ul>

<hr />
<app-login-form></app-login-form>
</div>